body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.note {
  width: 200px;
  height: 150px;
  background-color: #ffeb99;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.note:hover {
  background-color: #fae17e;
  color: #000000;
  transform: scale(1.05);
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7ec8fa;
  color: #000000;
}
